/* Coloar el root */
:root{
  font-family: PopRegular; 
  background-color: rgba(255, 255, 255, 0.527);
  overflow: hidden;
}
/* Elimina todos los border */
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* independientes */
small{
  padding: 0.3rem;
  font-size: small;
}

/* APP */

.container__app{
  display: flex;
  align-items: center;
  
}
/* Escoger Fuente */

/* Navbar */
.navbar__toolbar{
  background: linear-gradient(360deg, #36538d 30.09%, rgba(209, 213, 217, 0) 182.47%);
  font-family: PopBlod;
  color: rgb(255, 255, 255);
  padding: 1rem;
  height: 5rem;
}


/* Sliderbar */
.sidelbar__container{
  padding-top: 6rem;
  padding-left: 0.8rem;
  color: #f7faff;
  height: 100vh;
  width: 20%;
  overflow-y: hidden;
  background-color: #143886fb;
}

.sidelbar__container__button{
  text-align: start;
  width: 100%;
  font-family: PopBlod;
  border: none;
  outline: none;
  background: none;
  color: #f7faff;
}

.sidelbar__container__button:focus{
  text-align: center;
  width: 100%;
  background-color: #f7faff23;
  
}

.sidelbar__container > ul >li{
  margin-bottom: 0.8rem;
}

.sidelbar__container > ul > li:hover{
  background-color: #f7faff23;
}

.sidelbar__container > h2 {
  padding-bottom: 1rem;
  padding-left: 0.3rem;
}

.sidelbar__container ul > h2 {
  padding-bottom: 1rem;
  padding-left: 0.3rem;
  padding-top: 0.8rem;
}


/* Contrarecibo */
.cont__form_contrarecibo{
  
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  width: 90%;
  height: 100vh;
  overflow-y: auto;
}

.cont__form_contrarecibo >  div {
  padding: 1.3rem;

}

.cont__form_contrarecibo >  div > input {
  display: none;
  
} 

/* COMPONENTE DE FORMULARIO */
.handdled__error{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  background-color: red;
  height: 3rem;
  color: #f7faff;
}

form{
  padding-top: 0.3rem;
  width: 100%;
}

form > p{
  padding-left: 0.3rem;
}

.form__controller{
  font-family: PopRegular;
  background: linear-gradient(360deg, #6294F5 30.09%, rgba(209, 213, 217, 0) 182.47%);
  height: 3rem;
  width: 100%;
  padding: 0.3rem;
  display: flex;
  color: #fa2121b0;

}

.form__controller > h4{
  display: flex;
}

.form__secction__contra{
  display: flex;
  padding: 0.8rem;
  margin: 0.3rem;
  flex-wrap: wrap;
}

.form__secction__contra > div{
  display: flex;
  margin: 0.5%;
  padding: 1%;
  flex-direction: column;
  border: slateblue 1px solid;
  border-radius: 0.5rem;
}

.form__secction__contra > div >h2{
  margin-bottom: 0.5rem;
  text-align: center;
  color: black;
  padding: 0.3rem;
  
}

.form__secction__contra > div > label{
  height: 2rem;
  width: 15rem;
  background: linear-gradient(360deg, #6294F5 30.09%, rgba(209, 213, 217, 0) 182.47%);
  text-align: center;
  border-radius: 10px 0px 10px 0px;
  padding: 0.3rem;
  margin: 1rem 0.3rem;
  color: #f7faff;
}

.form__secction__contra > div > input {
  border: none;
  height: 2rem;
  text-align: center;
}





/* Fuentes */
@font-face{
  font-family: PopBlod;
  src: url('./assets/Poppins-Medium.ttf'); 
}

@font-face{
   font-family: PopRegular;
   src: url('./assets/Poppins-Regular.ttf');
}